@model SupportDesk.Models.Department

<br />
<h3>Employees working for this Department</h3>
@Html.Partial("~/Views/Employees/_List.cshtml", Model.Employees)
<br />
<h3>Equipment owned by this Department</h3>
@Html.Partial("~/Views/Equipments/_List.cshtml", Model.Equipments)